body {
    background-color: #121212;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    color: white;
  }

h1 {
    color: white;
    text-align:center;
}

h2 {
    color: white; 
}

h3 {
    color: white; 
}

h4 {
    color: white; 
}

td {
    color: white;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
}

button {
    background-color: #4CAF50;
    width: 150px;
    color: white;
    padding: 10px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

.images, .about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar {
    overflow: hidden;
    background-color: #2a2a2a;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #4CAF50;
}