<!DOCTYPE html>
<html>
  <head>
    <title>Artifical Face Generator</title>
    <link rel="stylesheet" href="/staticFiles/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/staticFiles/FaceGenLogo.png" />
  </head>
  <body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/About">About</a>
    </div>
        <h1>Artifical Face Generator</h1>
        <div class="about">
        <p>Human Face Generator is a deep learning project that uses Generative Adversarial Networks (GANs) to generate human faces based on celebrity images. 
            The project uses the CelebFaces Attributes Dataset (CelebA) to train the GANs. The project is implemented in Python using the Keras API and Tensorflow Backend.
            <br><br>
            The end goal for the project is to create realistic human faces that can be used for syntehtic data generation and other applications.
            <br><br>
            The full project is avalable on <a href="https://github.com/Siddhant0701/Human-Face-Generator" target="_blank">GitHub</a>.
        </p>
        </div>
  </body>
</html>